.cart-container {
  min-height: 70vh;
  height: auto;
  width: 90vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.light-mode .cart-container p {
  color: black;
}
.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1fr;
  align-items: center;
  gap: 5px;
}
@media (max-width: 375px) {
  .cart-items-title p {
    font-size: 10px;
  }
}
.cart-quantity {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
}
.cart-items-item {
  margin: 10px 0;
}
.cart-items-item img {
  width: 50px;
}
.cart-items-item .cross {
  cursor: pointer;
}
.cart-bottom {
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-promocode {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.cart-promocode p {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}
@media (max-width: 750px) {
  .cart-promocode p {
    font-size: 15px;
  }
}
.cart-promocode div {
  border: 0.5px solid gray;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.cart-promocode input {
  padding-left: 10px;
  background-color: transparent;
  border: none;
  width: 70%;
  outline: none;
  padding: 12px 5px;
  color: #ffffff;
  font-size: 16px;
}
.cart-promocode input::placeholder {
  color: gray;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
}
.cart-promocode button {
  width: max(10vw, 150px);
  background-color: tomato;
  border: none;
  padding: 12px 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 1283px) {
  .cart-promocode p {
    font-size: 15px;
  }
  .cart-promocode input {
    width: 50%;
    padding: 12px 5px;
  }
  .cart-promocode button {
    padding: 12px 5px;
    width: max(10vw, 150px);
  }
}
@media (max-width: 768px) {
  .cart-promocode input {
    width: 45%;
    padding: 6px 3px;
  }
  .cart-promocode button {
    padding: 6px 3px;
    width: max(5vw, 75px);
  }
}
@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
}
.cart-empty {
  font-weight: 400;
  text-align: center;
  margin: 100px 0px;
  font-size: 22px;
  color: gray;
}
@media (max-width: 750px) {
  .cart-empty {
    font-size: 16px;
    margin: 60px 0px;
  }
}
@media (max-width: 462px) {
  .cart-empty {
    font-size: 15px;
    margin: 50px 0px;
  }
}
.cart-loader {
  position: absolute;
  top: 20%;
  right: 50%;
}
