.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 5px;
  position: relative;
  color: #ffffff;
}

.light-mode .navbar-container p {
  color: black;
}
.navbar-container h1 {
  background: -webkit-linear-gradient(red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 40px;
  cursor: pointer;
  animation: fadeIn 3s;
}

@media (max-width: 768px) {
  .navbar-container h1 {
    font-size: 30px;
  }
}
@media (max-width: 562px) {
  .navbar-container h1 {
    font-size: 20px;
  }
}
.navbar-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
}
@media (max-width: 562px) {
  .navbar-container ul {
    width: 20%;
    gap: 5px;
  }
  .navbar-container ul li p {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-container ul {
    width: 40%;
  }
  .navbar-container ul li p {
    font-size: 12px;
  }
}

.active {
  font-weight: 800;
  color: rgb(210, 188, 22);
}
.icon {
  font-size: 20px;
}
.active .icon {
  color: rgb(210, 188, 22);
}

.cart {
  position: relative;
}
.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: rgb(248, 14, 14);
  border-radius: 50%;
  top: -13px;
  left: 3px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  padding: 7px;
}

.hamberger-container {
  position: relative;
  display: inline-block;
}
.drop-down-menu {
  position: absolute;
  z-index: 1000;
  background-color: #f0ecec;
  top: 100%;
  right: 0;
  border-radius: 5px;
  padding: 6px;
  display: none;
  gap: 15px;
  width: 130px;
}
@media screen and (max-width: 568px) {
  .drop-down-menu {
    width: 100px;
  }
}
.drop-down-menu h6 {
  color: black;
  font-weight: 600;
  font-size: 17px;
}
.drop-down-menu h6:hover {
  color: red;
}
@media screen and (max-width:568px) {
  .drop-down-menu h6{
    font-size: 15px;
  }
}
.hamberger-container:hover .drop-down-menu,
.drop-down-menu:hover {
  display: block;
}
