.profile-main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  gap: 10px;
  position: relative;
}
@media screen and (max-width: 568px) {
  .profile-main-container {
    flex-direction: column;
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.light-mode .profile-main-container {
  background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
}
.light-mode p,
.light-mode label {
  color: #ffffff;
}
.profile-img-container {
  position: relative;
}
.profile-img-container .profile-pic-add-icon {
  position: absolute;
  top: 75px;
  right: -8px;
  width: 30px;
  cursor: pointer;
}

#profilePic {
  display: none;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.profile-details label {
  font-weight: bold;
  margin-top: 10px;
}

.profile-input {
  min-width: 300px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile-input:hover {
  border: 2px solid #007bff;
}
.profile-input:focus {
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
}

@media screen and (max-width: 562px) {
  .profile-input {
    width: 100%;
  }
}

.edit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.edit-btn:hover {
  background-color: #0056b3;
}

input[type="file"] {
  display: none;
  cursor: pointer;
}

.profile-right{
  list-style-type: disc;
  width: 50%;
}

.profile-right li{
  color: rgb(90, 90, 210);
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}
.profile-right li:hover{
  color: rgb(16, 16, 158);
  font-weight: 600;
}

@media screen and (max-width:568px) {
  .profile-right{
    width: 100%;
  }
  .profile-right li{
    font-size: 16px;
  }
}

.profile-right-set-password{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-right-set-password label{
  font-size: 15px;
  font-weight: 500;
}
.profile-right-set-password input{
  outline: none;
  border-radius: 5px;
  padding: 8px 10px;
  width: 80%;
  border: 1px solid black;
}
@media screen and (max-width:568px) {
  .profile-right-set-password input{
    width: 100%;
  }
}

.profile-right-set-password input:focus{
  border: 1px solid  rgb(90, 90, 210);
  box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
}
.profile-right-set-password button{
  background-color: #007bff;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding: 13px 8px;
  width: 30%;
  border-radius: 6px;
}
.profile-right-set-password button:hover{
  background-color: #0056b3;
}
.profile-loader-container{
  position: absolute;
  left: 45%;
  top: 50%;
}
.error-msg{
  color: red;
  font-weight: 500;
  font-size: 13px;
}